.container {
    display: flex;
    height: 85vh;
    overflow: scroll;
   
}

.menu {
    flex: 1;
    min-width: 180px;
    max-width: 180px;
}

.page {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    position: relative;
    gap: 10px;
}


@media screen and (max-width: 1600px) {
    .page {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    .page {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .page {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .page {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page {
        grid-template-columns: repeat(2, 1fr);
    }
}

