.cardContainer {
   display: flex;
   justify-content: center;
}

.card {
    width: 250px;
    align-items: center;
    margin-bottom: 25px;  
    max-height: 520px;  
                        
}

.cardBody {
    padding: 10px !important;
}



.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s box-shadow;
    scale: 1.03;
    transition: 0.3s scale;
}

.imgContainer{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.descriptionContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.cardHeader {
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-size: 20px;
}

.specifications {
    font-size: 12px;
    opacity: 0.7;
}

.specifications h3{
    margin-bottom: 10px;
    font-weight: bold;
}

.specifications span{
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .card {
        width: 170px;
        align-items: center;
        margin: 5px; 
                          
    }

    .imgContainer{
        width: 100%;
        height: 170px;
        
    }
    .image {
        width: 100%;
        height: 80%;
       
    }

    .btnsContainer{
       display: flex;
       flex-direction: column;
       gap: 5px;
     
    }

    .addBtn {
        margin: 0 !important;
    }

    .descriptionContainer {
        gap: 5px;
        margin-top: 0;
    }

    .cardHeader {
        font-size: 15px;
    }

    .cardText{
        font-size: 14px;
    }

    .cardBody {
        padding: 10px;
    }

    .card:hover{
        scale: 1;
    }

    .price {
        font-size: 16px;
    }

}

