.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 28px;
    font-weight: 700;
    color: #dd6b21;
    margin-left: 50px;
    margin-top: 5px;
}

.logo {
    margin: 5px 0;
}

.switcher {
    justify-self: flex-end;
    margin-right: 10px;
    margin-left: 50px;
}

@media screen and (max-width: 1000px) {
    .header h3 {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 550px) {
    .header h3 {
        font-size: 16px;
        margin-left: 20px;
    }

    .logo {
        width: 80%;
        margin: 10px 0;
    }

    .cartAndSwitchContainer {
        display: flex;
        align-items: center;
    }

    .switcher {
        justify-self: flex-end;
        margin-right: 10px;
        margin-left: 10px;
    }
}
